  
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>kakaopay</title>
    <style>
    	div{
    		text-align: center;
    		margin-top: 250px; 
    	}
    	h1{
    		font-size: 3em;
    	}
    </style>
    <script src="/js/jquery-3.6.0.js"></script>
    <script>
        $(document).ready(function () {
            $('#pay').on('click', function () {
            	// ex. <checkbox> 선택 - <button> onclick 이벤트 - 선택된 값 가져오기 
            	var postdata = {
           			item_name : "{{item_name}}"
           			,qantity : "{{qantity}}"
           			,total_amount : "{{total_amount}}"
            	}
                $.ajax({
                    url: "/kakaopay/paymethod.ajax",
                    data: JSON.stringify(postdata),
                    dataType: "json",
                    type: "post",
                    async: false,
                    success: function (data) {
                        location.href=data["next_url"]
                    },
                    error: function (xhr) {
                        consol.log(xhr);
                    }
                });
            });
        })
        
        
        $(document).ready(function () {
            $('#cancel').on('click', function () {
                $.ajax({
                    url: "/kakaopay/cancel",
                    dataType: "json",
                    type: "post",
                    async: false,
                    success: function (data) {
                        location.href=data["next_url"]
                    },
                    error: function (xhr) {
                        consol.log(xhr);
                    }
                });
            });
        })
    </script>
</head>
<body>
<div>
    <h1>KAKAO PAY</h1>
   	<button type="button" id="pay">
   		<img src="images/payment_icon_yellow_medium.png" alt="pay button">
   	</button>
   	<br><br>
   	<h3>결제를 위해 상단 이미지버튼을 클릭해 주세요.</h3>
</div>
</body>
</html>