<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>kakaopay</title>
    <script src="/js/jquery-3.6.0.js"></script>
	<style>
		#box{
			border : 2px solid #F7E524;
			margin: 15px;
			width: 300px;
			height: auto;
			padding: 15px;
			text-align: center;
	    	margin-top: 250px;
		}
		#txt{
			background-color: #F7E524;
		}
		#box2{
			margin-left: 750px;
		}
		a{
			text-decoration: none;
			color: orange;
		}
	
	</style>
</head>
<body>
<div id="box2">
    <div id = box>
        <h2 id= txt>결제가 완료되었습니다!</h2>
		<h3>주문자 정보</h3>
		<p>구매처 : KAKAOPAY TEST</p>
		<p>주문번호 : {{ res.partner_order_id }}</p>
		<p>상품명 : {{ res.item_name }}</p>
		<p>결제일시 : {{ res.approved_at }}</p>
		<p>결제금액 : {{ context.amount }}원</p>
		<p>결제수단 : 카카오페이머니</p>
		<p>* 현금 영수증 발행 여부는 가맹점을 통해 확인해 주세요.</p>
		<a href="http://127.0.0.1:5000/">메인으로 돌아가기</a>
    </div>
</div>
</body>
</html>