<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>메뉴</title>
<script src="/js/jquery-3.6.0.js"></script>
<style type="text/css">
	div{
		text-align: center;
		margin-top: 100px;
	}
	#menu{
		margin-left: 650px;
		width: 600px;
	}
	body{
		background-color: black;
	}

</style>
</head>
<body>
<img alt="menu" src="images/menu.png" id="menu">
<div>
	<button type="button" id="firefork" onclick="javascript:location.href='http://127.0.0.1:5000/kakaopay?item_name=불고기버거세트&qantity=1&total_amount=5500'">
		<img alt="불고기버거세트" src="images/firefork.jpg" style="height: 300px; width: 300px;">
		<br/>
		불고기세트 <br>5500원
	</button>
	<button type="button" id="chicken" onclick="javascript:location.href='http://127.0.0.1:5000/kakaopay?item_name=치킨버거세트&qantity=1&total_amount=5200'">
		<img alt="치킨버거세트" src="images/chicken.JPG" style="height: 300px; width: 300px;">
		<br/>
		치킨버거세트 <br>5200원
	</button>
	<button type="button" id="shrimp" onclick="javascript:location.href='http://127.0.0.1:5000/kakaopay?item_name=새우버거세트&qantity=1&total_amount=5800'">
		<img alt="새우버거세트" src="images/shrimp.jpg" style="height: 300px; width: 300px;">
		<br/>
		새우버거세트 <br>5800원
	</button>
	<button type="button" id="ck" onclick="javascript:location.href='http://127.0.0.1:5000/kakaopay?item_name=치킨풀팩&qantity=1&total_amount=16000'">
		<img alt="치킨풀팩" src="images/ck.jpg" style="height: 300px; width: 300px;">
		<br/>
		치킨풀팩 <br>16000원
	</button>		
</div>

</body>
</html>