  
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>kakaopay</title>
    <style>
    </style>
    <script src="/js/jquery-3.6.0.js"></script>
    <script>
        $(document).ready(function () {
            $('#pay').on('click', function () {
            	
            	// ex. <checkbox> 선택 - <button> onclick 이벤트 - 선택된 값 가져오기 
            	var postdata = {
           			item_name : "아이스아메리카노"
           			,qantity : 1
           			,total_amount : 3000
            	}
            	
                $.ajax({
                    url: "/kakaopay/paymethod.ajax",
                    data: JSON.stringify(postdata),
                    dataType: "json",
                    type: "post",
                    async: false,
                    success: function (data) {
                        location.href=data["next_url"]
                    },
                    error: function (xhr) {
                        consol.log(xhr);
                    }
                });
            });
        })
        
        
        $(document).ready(function () {
            $('#cancel').on('click', function () {
                $.ajax({
                    url: "/kakaopay/cancel",
                    dataType: "json",
                    type: "post",
                    async: false,
                    success: function (data) {
                        location.href=data["next_url"]
                    },
                    error: function (xhr) {
                        consol.log(xhr);
                    }
                });
            });
        })
    </script>
</head>
<body>
<div class="row mt-5">
    <h1 class="col-12 text-center my-5">KAKAO PAY</h1>
   	<button type="button" id="pay">
   		<img src="images/payment_icon_yellow_medium.png" alt="pay button">
   	</button>
</div>
</body>
</html>