<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Flask Template</title>
<style type="text/css">
	table, tr, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	#tb1{
		width: 800px;
		text-align: center;
	}
	#tb2,#tb3{
		width: 400px;		
	}
	#tb2,#tb3,#btn_td {
		text-align: center;
	}
	#tb1 {
		border: 0px; 
	}
	th {
		background-color: lightblue;
	}
</style>
<script src="/js/jquery-3.6.0.js"></script>
<script src="/js/axios.min.js"></script>
<script type="text/javascript">
	
	function fn_setting(exam_id, e_id, kor, eng, math){
		var obj_exam_id = document.getElementById("exam_id");
		var obj_e_id 	= document.getElementById("e_id");
		var obj_kor 	= document.getElementById("kor");
		var obj_eng 	= document.getElementById("eng");
		var obj_math 	= document.getElementById("math");
		
		obj_exam_id.value 	= exam_id;
		obj_e_id.value 		= e_id;
		obj_kor.value 		= kor;
		obj_eng.value 		= eng;
		obj_math.value 		= math;
	}
	
	function fn_insert(){
        var e_id  = $("#e_id").val();
        var kor   = $("#kor").val();
        var eng   = $("#eng").val();
        var math  = $("#math").val();

        axios({
            method:"POST"
            ,url: 'exam_insert.axios'
            ,data:{
                "e_id" : e_id
                ,"kor" : kor
                ,"eng" : eng
                ,"math": math
            }
        }).then((res)=>{
            if(res.data.result == "success"){
            	location.reload();
            	alert("데이터가 추가되었습니다.");
            }else{
            	alert("추가 중 문제가 생겼습니다.")
            }
            console.log(res.data.result);
        }).catch(error=>{
            console.log(error);
            throw new Error(error);
        });
	}
	
	function fn_update(){
		 var exam_id = $("#exam_id").val();
		 var e_id 	 = $("#e_id").val();
	     var kor 	 = $("#kor").val();
	     var eng 	 = $("#eng").val();
	     var math	 = $("#math").val();
        
        axios({
            method:"POST"
            ,url: 'exam_update.axios'
            ,data:{
                "exam_id" : exam_id 
                ,"e_id"	  : e_id 
                ,"kor"	  : kor   
                ,"eng"	  : eng   
                ,"math"	  : math  
            }
        }).then((res)=>{
            if(res.data.result == "success"){
            	location.reload();
            	alert("데이터가 수정되었습니다.");
            }else{
            	alert("수정 중 문제가 생겼습니다.")
            }
            console.log(res.data.result);
        }).catch(error=>{
            console.log(error);
            throw new Error(error);
        });
	}
	
	function fn_delete(){
		
		var flag = confirm("한번 삭제된 데이터는 복구할 수 없습니다. 그래도 진행하시겠습니까?");
		
		if(!flag){
			return;
		}
		
		var exam_id = $("#exam_id").val();
		
		axios({
            method:"POST"
            ,url: 'exam_delete.axios'
            ,data:{
                "exam_id" : exam_id
            }
        }).then((res)=>{
            if(res.data.result == "success"){
            	location.reload();
            	alert("데이터가 삭제되었습니다.");
            }else{
            	alert("삭제 중 문제가 생겼습니다.")
            }
            console.log(res.data.result);
        }).catch(error=>{
            console.log(error);
            throw new Error(error);
        });
	}
</script>
</head>
<body>

<table border="1px" id="tb1">
	<colgroup>
		<col style="width: 50%">
		<col style="width: 50%">
	</colgroup> 
	<tr>
		<td>
			<div style="width: 100%; height: 100%; text-align: center;">
				<table border="1px" id="tb2">
					<tr>
						<th>시험번호</th>
						<th>학번</th>
						<th>국어</th>
						<th>영어</th>
						<th>수학</th>
					</tr>
				
					{% for e in exam_arr %}
					<tr>
					    <td>
					    	<a href="javascript:fn_setting('{{ e.exam_id }}','{{ e.e_id }}','{{ e.kor }}','{{ e.eng }}','{{ e.math }}')">{{ e.exam_id }}</a>
					    </td>
					    <td>{{ e.e_id }}</td>
					    <td>{{ e.kor }}</td>
					    <td>{{ e.eng }}</td>
					    <td>{{ e.math }}</td>
					</tr>
					{% endfor %}
					
				</table>	
			</div>
		</td>
	
		<td>
			<table border="1px" id="tb3">
				<tr>
					<th>시험번호</th>
					<td>
						<input type="text" id="exam_id">
					</td>
				</tr>
				<tr>
					<th>학번</th>
					<td>
						<input type="text" id="e_id">
					</td>
				</tr>
				<tr>
					<th>국어</th>
					<td>
						<input type="text" id="kor">
					</td>
				</tr>
				<tr>
					<th>영어</th>
					<td>
						<input type="text" id="eng">
					</td>
				</tr>
				<tr>
					<th>수학</th>
					<td>
						<input type="text" id="math">
					</td>
				</tr>
				<tr>
					<td colspan="2" id="btn_td">
						<input type="button" value="추가" onclick="fn_insert();"/>
						<input type="button" value="수정" onclick="fn_update();"/>
						<input type="button" value="삭제" onclick="fn_delete();"/>
					</td>
				</tr>
			</table> 	
		</td>
	</tr>
</table>


</body>
</html>