<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>kakaopay</title>
    <style>
    </style>
	<script src="/js/jquery-3.6.0.js"></script>
    <script>

    </script>
</head>
<body>
	<div>
	    <div>
	        <h2>결제가 중단 되었습니다!</h2>
	        <h3>주문자 정보</h3>
	        <p>주문번호 		: {{ res.partner_order_id }}</p>
	        <p>가맹점 회원 ID 	: {{ res.partner_user_id }}</p>
	        <p>상품명 		: {{ res.item_name }}</p>
	        <p>수량 			: {{ res.quantity }}</p>
	        <p>취소 금액 		: {{ context.cancel_available_amount }}원</p>
	        <p>취소 시간 		: {{ res.created_at }}</p>
	        <a href="http://127.0.0.1:5000/kakaopay">메인으로 돌아가기</a>
	    </div>
	</div>
</body>
</html>